body{
  overflow-x: hidden;
}
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  /* height: 100; */
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 100000000;
}

.loading-wrapper {
  position: fixed;
  left: calc(50% - 100px);
  top: calc(45% - 100px);
}

.loading-wrapper img {
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid #50B767;
}

.app-header{

}

.app-container{
 padding: 60px 0;
}

.app-wrapper{

}

.app-sidebar{

}

[dir=ltr] .mdk-header-layout{
  position: fixed !important;
  z-index: 10 !important;
}

[dir=ltr] .mdk-drawer__content{
  top: 60px !important
}

@media screen and (max-width: 768px){
  #default-drawer{
    display: none;
  }
}

.sidebar.sidebar-light.sidebar-left{
  overflow-y: auto !important;
}

.activity-row{
  margin-bottom: 1em;
  padding-bottom: 1.02em;
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-top: 50px;
}

.activity-img img{
  display: inline-block;
  border-radius: 50%;
}

.activity-img{
  padding-right: 20px;
}

.activity-img span{
  display: block;
    font-size: 12px;
    margin: .5em 0 0;
    color: #999;
}

.activity-img1{
  padding: 0 !important;
  width: 50%;
}

.row1{
  border-bottom: none !important
}

.activity-row, .activity-row1{
  text-align: left;
}

.activity-desc-sub,.activity-desc-sub2, .activity-desc-sub1{
  padding: .7em;
    background: #eee;
    position: relative;
}

.activity-desc-sub2:before{
  left: 100% !important;
  transform: rotate(180deg) !important;
}

.activity-desc-sub:before{
  left: -3%;
}

.activity-desc-sub2:before, .activity-desc-sub:before{
  
  top: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 242, 239, 0);
    border-right-color: #E7E7E7;
    border-width: 8px;
    margin-top: -5px;
}

/* @media (max-width: 1440px){
.activity-desc-sub:before {
  left: -10% !important;
}
} */

.chat-body{
  height: calc(100vh - 60px);
}

@media screen and (max-width: 768px){
  [dir=ltr] .mdk-header-layout__content{
    padding-top: 120px;
  }
  .activity-desc-sub:before {
    left: -10% !important;
  }
  .chat-body{
    height: calc(100vh - 150px) !important;
  }
  .search-wrapper-text{
    margin-left: 0 !important;
    width: 100% !important;
  }
}

activity-desc1 {
  padding: 0;
}

.search-wrapper-text{
  background: #eee;
  
  position: fixed;
  margin-left: 240px;
  bottom: 0;
  left: 0;
  width: calc(100% - 240px);
  padding: 30px 16px;

}

.chat-body{
  height: calc(100vh - 150px);
  overflow-y: scroll !important;
}

.search-wrapper-text input{
  outline: none;
    border: 1px solid #888888;
    padding: 10px;
    color: #333;
    font-size: 13px;
    width: 100%;
    background: #fff;
}

.list-group-item{
  cursor: pointer;
}

.rouded-avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initials{
  font-size: 16px;
  font-weight: bold;
}

#choice.border-success {
  border-color: #17b15c !important;
}

.fab-wrapper{
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 90;
  cursor: pointer;
}

.fab-container{
  width: 60px;
  height:60px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #1377C9;
  color: #fff;
  
}

[dir=ltr] .modal{
  top: 60px;
}

[dir=ltr] .modal-backdrop{
  display: none !important;
}

.classBanner{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EEEEEE;
  padding: 16px 20px;
  width: 100%
}

.icon{
  font-size: 10rem;
  color: #ff0000;
  margin-left: 3rem;
}

.jitsi-container-wrapper > :first-child {
  width: 100vw !important;
  max-width: 100% !important;
  height: calc(100vh - 3rem) !important;
}